<IfModule mod_rewrite.c>
    RewriteEngine On

    # Check if the request host is wss.shed.id.lv
    RewriteCond %{HTTP_HOST} ^wss\.shed\.id\.lv$ [NC]
    # Redirect to port 8080
    RewriteRule ^(.*)$ http://%{HTTP_HOST}:8080/$1 [L,P]

    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
