@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Phosphate';
    src: url('/public/fonts/phosphate.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}
