@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'phosphate';
    src: url('../fonts/phosphate.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}
